body {
    background-color: #AEDFF7;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
}

#container {
    display: flex;
    flex-direction: column; /* Afficher les éléments en colonne */
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

#newWindowTitle {
    text-align: center;
}

#contentContainer {
    display: flex;
    justify-content: space-between; /* Répartir l'espace entre le contenu et le bloc-note */
    width: 100%;
    margin-top: 20px;
}

#newWindowContent {
    width: 60%; /* Ajustez la largeur selon vos besoins */
}

#notePad {
    width: 35%; /* Ajustez la largeur selon vos besoins */
    border: 2px solid #FFE4E1; /* Bordure rose pâle */
    background-color: #FFE4E1; /* Fond rose pâle */
    padding: 10px; /* Marge intérieure */
    box-sizing: border-box; /* Ajuster la largeur pour inclure le padding */
}



#notePad h2 {
    text-align: center; /* Centrer le titre du bloc-note */
}

#notePadInput {
    width: 100%;
    box-sizing: border-box; /* Ajuster la largeur pour inclure le padding */
}
