body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#leftSection, #rightSection {
    width: 48%;
    padding: 10px;
    box-sizing: border-box;
}

#rightSection {
    background-color: #f8f0f4; /* Couleur de fond rose pâle pour le bloc-note */
}

textarea {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
}

#taskList {
    margin-top: 10px;
}

#clearButton {
    background-color: #ff6666; /* Couleur de fond rouge pour le bouton "Clear" */
    color: white;
    padding: 8px;
    border: none;
    cursor: pointer;
}

.taskItem {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.taskCheckbox {
    margin-right: 10px;
}